
.top-content {
    display:flex;
    justify-content: flex-end;
    position:relative;
    right:-80%;

    height:50px;
    width: 20%;
    background-color: white;   
    /* margin-right:auto ; */
    /* float:right; */
}



.top-content a {
    margin:auto;    
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color:black;
}
.top-content img{
    /* margin: auto; */
    margin-right:2px;
    margin-left:2px;
    
}

#self-img {
    zoom: 8%;
    border-radius: 50%;
    border: solid grey;
    border-width: 1px
}

.main-content a {
    color:"#2524C2";
    text-decoration: none;
    margin-left: 10px;
}


.main-content{
    text-align:center;

}

.image-container {
    zoom: 190%;
    margin-top: 100px;
}

.bottom-content {
    position:fixed;
    /* padding: auto; */
    bottom:0;
    left:0;
    background-color: rgb(240, 235, 235);
    width:100%;
    height: 50px;
    

}


.bottom-left {
    float:left;
    /* margin:auto;
    margin-left: 10px;
    margin-right: 10px; */
    margin:auto;
    padding-top:15px;

}

.bottom-right{
    float:right;
    margin-left: 10px;
    margin-right: 10px;
    padding-top:15px;
    padding-right:15px;


}

.bottom-content a {
    margin-left: 25px;
    text-decoration: none;
    color: black;
}

button {
    border:none;
    padding: 10px 25px 10px 25px;
    margin: 10px;
}

#input-search {
    border-radius: 10px;
    width: 33%;
    height:25px;
    border-width: 0.75px;
    background-color:rgb(255, 255, 255);
    border-color: rgba(212, 212, 212, 0.5);
}