.row {
    display: flex;
    height: 60px;
}

.col1 {
    flex: 2;
    border: #ccc solid 1px;
    padding: 10px;
    display:flex;
}

.col2 {
    flex:2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: #ccc solid 1px;
}

.col3 {
    flex:1.5;
    padding: 10px;
    display: flex;
    border: #ccc solid 1px;   
    justify-content: space-between;
}

#airbnb-logo {
    display: flex;
    align-items: center;
}

.mid-col {
    display:flex;
    align-items: center;
    padding: 5px;
}

.mid-col a:hover, .last-col a:hover {
    background: linen;
    color: black;
}

.last-col {
    display:flex;
    align-items: center;
}

#globe {
    zoom: 2%;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgb(124, 113, 219), rgb(56, 179, 236));
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    border: white solid 1px;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#moon {
    width: 40%;
    height: 40%;
    z-index: 10;
}

#text{
    position:absolute;
    color: whitesmoke;
    white-space: nowrap;
    z-index: 9;


}